*{
  margin: 0;
}
.header{
  height:10%;
  width:100%;
  background-color: purple;
  display: flex;
}
.logo{
  width: 25%;
  background-color: black;
}
.logo a{
  width: 100%;
  hieght: 100%;
  display: flex;
  justify-content: center;
}
.logo a img {
  width: 100%;
  height: 100%;
}
.menu{
  width: 75%;
}
