.body{
  margin: 0;
}
.header{
  height:100%;
  width:50%;
  background-color: magenta;
}
.logo{
  width: 25%;
  background-color: black;
}
.logo a{
  width: 100%;
  hieght: 100%;
}
.logo a img {
  width: 100%;
  height: 100%;
}
