*{
  margin: 0;
}
.header{
  height:10%;
  width:100%;
  background-color: purple;
  display: flex;
}
.logo{
  width: 25%;
  height:100%;
  background-color: black;
}
.logo a{
  width: 100%;
  hieght: 100%;
  display: flex;
  justify-content: center;
}
.logo a img {
  width: auto;
  height: auto;
}
.menu{
  width: 75%;
  text: color;
  display: flex;
}
.navbar{
width: 100%;
  position: relative;
}

@media(max width:576px) {
  .header {
    height: 7%;
    background-color: red;
  }
}
