*{
  margin:0;
  padding:0;
}
.header{
  display:flex;
  width:100%;
  height:10%;
  background-color:green;
}
.logo{
  width:25%;
  background-color:pink;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.img{
  width:auto;
  height:auto;
}
.menu{
  width:75%;
  background-color:blue;
  display:flex;
}
.navbar{
  width:100%;
  height:100%;
  display:flex;
   
}
.navbar ul{
   justify-content:space-around;
   display:flex;
   align-items:center;
  width:100%;
  height:100%;
 
   

}
.navbar ul li{
    list-style:none;
  padding-bottom:2.5%;
}
.navbar ul li a{
  
    text-decoration:none;
    font-size:1.5vw;
    color:black;
    position:absolute;
  
}
.submenu{
  position: relative;
}
@media(max-width:567px){
  
}
